<footer>
    <div class="container-md beautiful-jekyll-footer">
      <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        
  
  
      <!-- FOOTER -->
              <div class="row justify-content-center">
                  <div class="col-lg-3 col-md-6">
                      <h6 class="mb-4">Institute</h6>
                      <ul class="list-unstyled text-muted">
                          <li><a href="https://iitpkd.ac.in/">IIT Palakkad</a></li>
                          <li>
  <a href="https://cdc.iitpkd.ac.in/">CDC </a> </li>
                          <li>
  <a href="https://cet.iitpkd.ac.in/"> CET</a> </li>
                          <li>
  <a href="https://techin-iitpkd.org/">TECHIN </a> </li>
                          <li>
  <a href="https://cci-iitpkd.github.io/">CCI </a> </li>
                          <li>
  <a href="https://sites.google.com/iitpkd.ac.in/iitpalakkad/telephone-directory">Telephone </a> </li>
                      </ul>
                  </div>
                  <div class="col-lg-3 col-md-6">
                      <h6 class="mb-4">Admissions</h6>
                      <ul class="list-unstyled text-muted">
                          <li><a href="https://resap.iitpkd.ac.in/">Research Portal</a></li>
                          <li><a href="https://pgadmit.iitpkd.ac.in/">PG admissions Portal</a></li>
                          <li><a href="https://pgadmit.iitpkd.ac.in/important-dates">Important Dates</a></li>
                          <li><a href="https://pgadmit.iitpkd.ac.in/how-to-apply">How to apply</a></li>
                          <li><a href="https://coap.iitd.ac.in/index.php">COAP</a></li>
                          <li><a href="https://josaa.nic.in">JOSAA</a></li>
                      </ul>
                  </div>
          <div class="col-lg-3 col-md-6">
                      <h6 class="mb-4">E-resources</h6>
                      <ul class="list-unstyled text-muted">
                          <li><a href="https://idp.iitpkd.ac.in/">IDP</a></li>
                          <li><a href="https://lms.iitpkd.ac.in">LMS/Moodle</a></li>
                          <li><a href="https://library.iitpkd.ac.in">Library</a></li>
                          <li><a href="https://support.iitpkd.ac.in/">Help desk</a></li>
                          <li>
  <a href="https://mrbs.iitpkd.ac.in/">Room Booking </a> </li>
                          <li>
  <a href="https://hpc.iitpkd.ac.in/">HPC</a> </li>
                      </ul>
                  </div>
  
          <div class="col-lg-3 col-md-6">
                      <h6 class="mb-4">Wellness &amp; Support</h6>
                      <ul class="list-unstyled text-muted">
                         <!-- <li><a href="https://iitpkd.ac.in/faqs-b.tech-freshers">Freshers FAQ</a></li> -->
                          <li><a href="https://iitpkd.ac.in/mitra">Mitra</a></li>
                          <li><a href="/dgrc/">DGRC</a></li>
                          <li><a href="https://sac.iitpkd.ac.in:8090/">SAC</a></li>
                          <li><a href="https://iitpkd.ac.in/elss">ELSS</a></li>
                          <li><a href="https://iitpkd.ac.in/help-desk-prospective-girl-students">For prospective girl students</a></li>
                          <li><a href="https://iitpkd.ac.in/student-clubs/">Club Catalogue</a></li>
                      </ul>
                  </div>
               </div>
        <p class="theme-by text-muted">
          Maintained by Department of Computer Science and Engineering. <br>Based on
          <a href="https://beautifuljekyll.com">Beautiful Jekyll</a>
        </p>
        </div>
      </div>
    </div>
  </footer>