<nav class="navbar navbar-expand-md navbar-light flex-column navbar-custom">
    <div class="w-200 d-flex align-self-center">
     <a class="navbar-brand mx-md-auto" href="/">
        <img class="p-4" src="images/cse-website-header.png" width="800px" alt="Logo">
    </a>
    
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     </div>
      <div class="collapse navbar-collapse align-self-center" id="main-navbar">
        <ul class="navbar-nav navbar-center">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Programs</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/programs-overview">Overview</a>
                      <a class="dropdown-item" href="/btech">B.Tech CS</a>
                      <a class="dropdown-item" href="/ms-phd">MS &amp; PhD</a>
                      <a class="dropdown-item" href="/msocd">MSoCD</a>
                      <a class="dropdown-item" href="/mcam">MCaM</a>
                </div>
              </li>
            
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Research</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/areas">Areas</a>
                      <a class="dropdown-item" href="/labs">Labs</a>
                      <a class="dropdown-item" href="/projects">Projects</a>
                      <a class="dropdown-item" href="/positions">Open Positions &amp; Internships</a>
                      <a class="dropdown-item" href="/publications">Publications</a>
                </div>
              </li>
            
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Academics</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/all-core">Core Courses</a>
                      <a class="dropdown-item" href="/all-elective">Elective Courses</a>
                      <a class="dropdown-item" href="/timetable">Timetable &amp; Slotting</a>
                      <a class="dropdown-item" href="/past-courses">Past courses</a>
                      <a class="dropdown-item" href="https://iitpkd.ac.in/academics-downloads">Forms🔗</a>
                </div>
              </li>
            
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/research-symposium">Research Symposium</a>
                      <a class="dropdown-item" href="/department-colloquium">Department Colloquium</a>
                      <a class="dropdown-item" href="/workshops">Workshops</a>
                      <a class="dropdown-item" href="/talk-series">Talk Series</a>
                </div>
              </li>
            
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">People</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/ug">Bachelors</a>
                      <a class="dropdown-item" href="/mtech">Masters</a>
                      <a class="dropdown-item" href="/scholars">Scholars</a>
                      <a class="dropdown-item" href="/faculty">Faculty</a>
                      <a class="dropdown-item" href="/staff-pdf">Staff &amp; Postdocs</a>
                      <a class="dropdown-item" href="/alumni">Alumni</a>
                </div>
              </li>
            
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/location">Location</a>
                      <a class="dropdown-item" href="/outreach">Outreach</a>
                      <a class="dropdown-item" href="/openings">Openings</a>
                      <a class="dropdown-item" href="/visitors">Visitors</a>
                      <a class="dropdown-item" href="/getintouch">Get in touch</a>
                </div>
              </li>
            </ul>
      </div>
    
      
    
    </nav>

