/* css for the contents in common  */
html >*
{
  font-size: 20px;
}
/* this is wrapped around all the contents */
.container
{
  margin-top: 40px;
  background-color: #DCEEF2;
  padding: 50px;
}
/* google fonts css  */
.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}
.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}

/* css for all the tables  */
table,th,td {
  border: 1px solid black;
}
th{
  background-color: #D98B2B50 !important;
}
/* css for checkboxes  */
.checkBoxes
{
  background-color: beige;
}