/* css for the contents in common  */
html >*
{
  font-size: 20px;
  background-color: whitesmoke;
}
/* this is wrapped around all the contents */
.container
{
  margin-top: 40px;
  background-color: #DCEEF2;
  padding: 50px;
}
/* google fonts css  */
.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}
.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}

/* css for all the tables  */
table,th,td {
  border: 1px solid black;
}
th{
  background-color: #D98B2B50 !important;
}
/* trail  */
.table-container {
  width: 100%; /* Adjust width as needed */
  overflow-x: auto; /* Enable horizontal scrolling */
}

table {
  width: 100%; /* Ensure table fills container width */
  border-collapse: collapse; /* Collapse table borders */
}
/* trail  */

/* css for checkboxes  */
.checkBoxes
{
  background-color: beige;
}
.checkbox{
  height: 15px;
  width: 15px;
}
#allCheckBox{
  height: 15px;
  width: 15px;
}
.goButton {
  background-color: #1C8C4D !important;
}
input{
  text-align: center;
}

/* footer css  */
footer, header{
  background-color: #FFCBCB ;
  width: 100%;
  /* position: fixed; */
}
/* css for query box  */
.queryBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.queryBox >textarea{
  background-color: #D98B2B90 !important;
}
.class1 >.paragraph{
  background-color: #D98B2B90 ;  
  font-size:15px;
  text-align: center;
}
/* .queryBox >div{

} */